torch>=2.0.0
torchvision>=0.15.0
ultralytics>=8.0.0
customtkinter
opencv-python
Pillow
numpy
scikit-image
pandas
tqdm
einops
thop
accelerate
torchmetrics
yacs
gradio
matplotlib
PyYAML
kornia
albumentations
